swagger: '2.0'
info:
  description: 'API documentation for the SwiftWise Inventory Management System.'
  version: '1.0.0'
  title: 'SwiftWise API'
  termsOfService: 'http://swiftwise.com/terms/'
  contact:
    email: 'support@swiftwise.com'
  license:
    name: 'Apache 2.0'
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: 'z0a6v7mgd2.execute-api.us-west-2.amazonaws.com'
basePath: '/dev'
tags:
- name: 'auth'
  description: 'Endpoints for user authentication and authorization'
- name: 'user'
  description: 'Endpoints for managing user profiles'
- name: 'product'
  description: 'Endpoints for managing products in the inventory system'
- name: 'category'
  description: 'Endpoints for managing product categories'
- name: 'tax'
  description: 'Endpoints for managing product taxes'
- name: 'unit'
  description: 'Endpoints for managing units of measurement for products'
- name: 'sales'
  description: 'Endpoints for managing sales and sales items'
- name: 'customers'
  description: 'Endpoints for managing customers'
- name: 'cash'
  description: 'Endpoints for managing cash'
- name: 'customerHistory'
  description: 'Endpoints for managing customerHistory'
- name: 'invoice'
  description: 'Endpoints for managing invoice'
schemes:
- 'https'
paths:
  /auth/register:
    $ref: './paths/auth/register.yaml'
  /auth/confirm-email:
    $ref: './paths/auth/confirm-email.yaml'
  /auth/resend-code:
    $ref: './paths/auth/resend-code.yaml'
  /auth/forgot-password:
    $ref: './paths/auth/forgot-password.yaml'
  /auth/confirm-forgot-password:
    $ref: './paths/auth/confirm-forgot-password.yaml'
  /auth/login:
    $ref: './paths/auth/login.yaml'
  /auth/logout:
    $ref: './paths/auth/logout.yaml'
  /user:
    $ref: './paths/user/index.yaml'
  /product:
    $ref: './paths/product/index.yaml'
  /product/{product_id}:
    $ref: './paths/product/{product_id}.yaml'
  /product/variants:
    $ref: './paths/product/variant.yaml'
  /category:
    $ref: './paths/category/index.yaml'
  /category/{category_id}:
    $ref: './paths/category/{category_id}.yaml'
  /unit:
    $ref: './paths/unit/index.yaml'
  /unit/{unit_id}:
    $ref: './paths/unit/{unit_id}.yaml'
  /tax:
    $ref: './paths/tax/index.yaml'
  /tax/{tax_id}:
    $ref: './paths/tax/{tax_id}.yaml'
  /sales:
    $ref: './paths/sales/index.yaml'
  /sales/{sale_id}:
    $ref: './paths/sales/{sale_id}.yaml'
  /sales/{sale_id}/items/{product_id}:
    $ref: './paths/sales/remove_item_from_sale.yaml'
  /sales/quick_sale:
    $ref: './paths/sales/quick_sale.yaml'
  /sales/quick_sale/{sale_id}:
    $ref: './paths/sales/update_quick_sale.yaml'
  /customers:
    $ref: './paths/customers/index.yaml'
  /customers/{customer_id}:
    $ref: './paths/customers/{customer_id}.yaml'
  /cash:
    $ref: './paths/cash/index.yaml'
  /cash/{cash_id}:
    $ref: './paths/cash/{cash_id}.yaml'
  /customerHistory/{customer_id}:
    $ref: './paths/customerHistory/index.yaml'
  /invoice:
    $ref: './paths/invoice/index.yaml'
  /invoice/{invoice_id}:
    $ref: './paths/invoice/{invoice_id}.yaml'
  /order:
    $ref: './paths/order/index.yaml'
  /order/{order_id}:
    $ref: './paths/order/{order_id}.yaml'
  /utils/upload-url:
    $ref: './paths/utils/upload_url.yaml'
definitions:
  UserProfile:
    $ref: './definitions/UserProfile.yaml'
externalDocs:
  description: 'Find out more about Swagger'
  url: 'http://swagger.io'
